@import "tailwindcss";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.994 0 0);
  --foreground: oklch(0.2874 0.0288 222.1921);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2874 0.0288 222.1921);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2874 0.0288 222.1921);
  --primary: oklch(0.5166 0.0931 181.0803);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9702 0 0);
  --secondary-foreground: oklch(0.4108 0.0175 84.58);
  --muted: oklch(0.9851 0 0);
  --muted-foreground: oklch(0.5585 0.0187 79.2788);
  --accent: oklch(0.9551 0 0);
  --accent-foreground: oklch(0.3432 0.0152 79.6399);
  --destructive: oklch(0.568 0.2002 26.4057);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.937 0 0);
  --input: oklch(0.937 0 0);
  --ring: oklch(0.5166 0.0931 181.0803);
  --chart-1: oklch(0.5166 0.0931 181.0803);
  --chart-2: oklch(0.5313 0.2015 5.6204);
  --chart-3: oklch(0.712 0.1795 53.5447);
  --chart-4: oklch(0.5752 0.1446 144.1813);
  --chart-5: oklch(0.4215 0.1834 289.4918);
  --sidebar: oklch(0.9851 0 0);
  --sidebar-foreground: oklch(0.2874 0.0288 222.1921);
  --sidebar-primary: oklch(0.5166 0.0931 181.0803);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9702 0 0);
  --sidebar-accent-foreground: oklch(0.2874 0.0288 222.1921);
  --sidebar-border: oklch(0.937 0 0);
  --sidebar-ring: oklch(0.5166 0.0931 181.0803);
  --font-sans: Figtree;
  --font-serif: Lora;
  --font-mono: Fira Code;
  --radius: 0.75rem;
  --shadow-2xs: 0px 2px 10px -2px hsl(0 0% 0% / 0.02);
  --shadow-xs: 0px 2px 10px -2px hsl(0 0% 0% / 0.02);
  --shadow-sm:
    0px 2px 10px -2px hsl(0 0% 0% / 0.04), 0px 1px 2px -3px hsl(0 0% 0% / 0.04);
  --shadow:
    0px 2px 10px -2px hsl(0 0% 0% / 0.04), 0px 1px 2px -3px hsl(0 0% 0% / 0.04);
  --shadow-md:
    0px 2px 10px -2px hsl(0 0% 0% / 0.04), 0px 2px 4px -3px hsl(0 0% 0% / 0.04);
  --shadow-lg:
    0px 2px 10px -2px hsl(0 0% 0% / 0.04), 0px 4px 6px -3px hsl(0 0% 0% / 0.04);
  --shadow-xl:
    0px 2px 10px -2px hsl(0 0% 0% / 0.04), 0px 8px 10px -3px hsl(0 0% 0% / 0.04);
  --shadow-2xl: 0px 2px 10px -2px hsl(0 0% 0% / 0.1);
  --tracking-normal: normal;
  --spacing: 0.25rem;

  --info-bg: oklch(0.98 0.02 60);
  /* Light mode default */
  --info-text: oklch(0.25 0.03 60);
  --info-highlight-bg: oklch(0.95 0.08 50);
}

.dark {
  --background: oklch(0.1776 0 0);
  --foreground: oklch(0.9067 0 0);
  --card: oklch(0.2002 0 0);
  --card-foreground: oklch(0.9067 0 0);
  --popover: oklch(0.2002 0 0);
  --popover-foreground: oklch(0.9067 0 0);
  --primary: oklch(0.7124 0.0977 186.6761);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.252 0 0);
  --secondary-foreground: oklch(0.7928 0.0184 229.0707);
  --muted: oklch(0.2264 0 0);
  --muted-foreground: oklch(0.7064 0.0268 229.3065);
  --accent: oklch(0.2768 0 0);
  --accent-foreground: oklch(0.9504 0.0042 236.4983);
  --destructive: oklch(0.6539 0.1926 25.1437);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.2972 0 0);
  --input: oklch(0.2972 0 0);
  --ring: oklch(0.7124 0.0977 186.6761);
  --chart-1: oklch(0.7124 0.0977 186.6761);
  --chart-2: oklch(0.6878 0.1797 1.9642);
  --chart-3: oklch(0.8287 0.1452 73.5424);
  --chart-4: oklch(0.766 0.1179 145.295);
  --chart-5: oklch(0.6297 0.1321 299.3578);
  --sidebar: oklch(0.2264 0 0);
  --sidebar-foreground: oklch(0.9067 0 0);
  --sidebar-primary: oklch(0.7124 0.0977 186.6761);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.252 0 0);
  --sidebar-accent-foreground: oklch(0.9067 0 0);
  --sidebar-border: oklch(0.2972 0 0);
  --sidebar-ring: oklch(0.7124 0.0977 186.6761);
  --font-sans: Figtree;
  --font-serif: Lora;
  --font-mono: Fira Code;
  --radius: 0.75rem;
  --shadow-2xs: 0px 4px 12px -3px hsl(0 0% 0% / 0.07);
  --shadow-xs: 0px 4px 12px -3px hsl(0 0% 0% / 0.07);
  --shadow-sm:
    0px 4px 12px -3px hsl(0 0% 0% / 0.15), 0px 1px 2px -4px hsl(0 0% 0% / 0.15);
  --shadow:
    0px 4px 12px -3px hsl(0 0% 0% / 0.15), 0px 1px 2px -4px hsl(0 0% 0% / 0.15);
  --shadow-md:
    0px 4px 12px -3px hsl(0 0% 0% / 0.15), 0px 2px 4px -4px hsl(0 0% 0% / 0.15);
  --shadow-lg:
    0px 4px 12px -3px hsl(0 0% 0% / 0.15), 0px 4px 6px -4px hsl(0 0% 0% / 0.15);
  --shadow-xl:
    0px 4px 12px -3px hsl(0 0% 0% / 0.15), 0px 8px 10px -4px hsl(0 0% 0% / 0.15);
  --shadow-2xl: 0px 4px 12px -3px hsl(0 0% 0% / 0.38);

  --info-bg: oklch(0.12 0.02 60);
  --info-text: oklch(0.92 0.02 60);
  --info-highlight-bg: oklch(0.30 0.08 50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-info-bg: var(--info-bg);
  --color-info-text: var(--info-text);
  --color-info-highlight-bg: var(--info-highlight-bg);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    overflow-x: hidden;
  }

  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
    width: 100%;
    position: relative;
  }
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}